---
import { getCollection, getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

interface Category {
  slug: string;
}

export async function getStaticPaths() {
  const categories = await getCollection("categories");

  return categories.map((category: Category) => {
    return { params: { category: category.slug } };
  });
}

const { category } = Astro.params;
const { data } = await getEntry("categories", category);
---

<Layout>
  <h1 class="h1">{data.title}</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
    accusantium! Excepturi eos recusandae cumque vitae quos cum deserunt optio
    rem, alias, tempora totam. Nulla voluptatem necessitatibus optio, odit
    beatae quod.
  </p>
</Layout>
