---

---

<section class="w-[1280px] self-center mt-40">
  <div class="flex justify-between">
    <h2 class="text-[48px] font-semibold">Categories</h2>
    <button class="py-4 px-9 bg-sky-blue font-semibold rounded-2xl w-max">View All Categories</button>
  </div>
</section>