---
const {
  data: { name, image, color },
} = Astro.props;
---

<a href="#" class="transition hover:scale-105">
  <div
    class=`px-12 py-6 flex flex-col items-center bg-gradient-to-t from-[${color}]/10 to-[${color}]/0 rounded-[30px]`
  >
    <img class="w-[100px] mb-10" src={image} alt="Category" />
    <h3 class="text-[18px] font-semibold">
      {name}
    </h3>
  </div>
</a>
