---
import Badge from "./Badge.astro";
import Clock from "./icons/Clock.astro";
import KitchenTools from "./icons/Kitchen-tools.astro";
import PlayButton from "./PlayButton.astro";
import Tag from "./Tag.astro";
---

<section
  class="flex max-w-[1280px] flex-col items-center self-center py-10 rounded-[50px]"
>
  <img
    class="absolute left-1/2 transform -translate-x-1/2 translate-y-12"
    src="/images/badge.png"
    alt="Handpicked recipes"
  />
  <div class="flex flex-col bg-brand p-[50px] order-1">
    <Badge>Hot recipes</Badge>
    <h1 class="h1 mt-8 mb-6">Delicious "Tres leches" cake</h1>
    <p class="text-light-gray mb-8">
      Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqut enim ad minim
    </p>
    <div class="flex gap-4">
      <Tag>
        <Clock />
        1 hour
      </Tag>
      <Tag>
        <KitchenTools />
        Cake
      </Tag>
    </div>
    <PlayButton position="end" />
  </div>
  <div class="h-[200px] w-full aspect-auto">
    <img
      src="/images/three-milks-cake.jpg"
      alt="Featured Image"
      class="size-[100%] w-full"
    />
  </div>
</section>
