---
import Badge from "./Badge.astro";


---

<section class="flex w-[1280px] self-center m-10">
    <div class="bg-sky-blue w-2/4 rounded rounded-tl-[40px] rounded-bl-[40px] p-[50px]">
      <Badge text="Hot recipes"/>
      <h1 class="text-[64px] font-semibold leading-[5rem] mt-8 mb-6">Spicy delicious chicken wings</h1>
      <p class="text-light-gray">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim </p>
    </div>
    <div class="w-2/4 rounded-tr-[40px] rounded-br-[40px] overflow-hidden">
      <img src="../../public/images/baked-chicken.png" alt="Featured Image">
    </div>
</section>