---
---

<header class="px-20 py-10 flex justify-between border-b-2 border-black/10 border-solid">
  <div class="w-[110px]">
    <img src="../../public/images/Foodieland.png" alt="Logo" >
  </div>
  <nav>
    <ul class="flex gap-14">
      <li>Home</li>
      <li>Recipes</li>
      <li>Blog</li>
      <li>Contact</li>
      <li>About us</li>
    </ul>
  </nav>

  <ul class="flex gap-10">
    <li><img class="h-[22px]" src="../../public/images/facebook.png" alt="Facebook Logo"></li>
    <li><img class="h-[22px]" src="../../public/images/twitter.png" alt="Twitter Logo"></li>
    <li><img class="h-[22px]" src="../../public/images/instagram.png" alt="Instagram Logo"></li>
  </ul>
</header>