---
import Menu from "./icons/Menu.astro";
---

<header
  class="px-4 py-4 flex justify-between items-center border-gray-100 border-b"
>
  <a class="w-[110px]" href="#">
    <img src="/public/images/foodieland.png" alt="Logo" />
  </a>
  <div class="md:hidden">
    <button id="navBarTrigger" class="self-end">
      <Menu />
    </button>
    <nav id="navBar" class="hidden absolute top-[57px] left-0 w-full bg-white">
      <ul
        class="flex flex-col flex-1 [&>li]:p-4 [&>li]:border-b [&>li]:border-gray-100 [&>li:hover]:bg-brand/100"
      >
        <li>Home</li>
        <li>Recipes</li>
        <li>Blog</li>
        <li>Contact</li>
        <li>About us</li>
      </ul>
    </nav>
  </div>
  <nav class="hidden md:block">
    <ul class="flex gap-4">
      <li>Home</li>
      <li>Recipes</li>
      <li>Blog</li>
      <li>Contact</li>
      <li>About us</li>
    </ul>
  </nav>

  <ul class="hidden md:flex gap-10">
    <li>
      <img class="h-[22px]" src="/icons/facebook.png" alt="Facebook Logo" />
    </li>
    <li>
      <img class="h-[22px]" src="/icons/twitter.png" alt="Twitter Logo" />
    </li>
    <li>
      <img class="h-[22px]" src="/icons/instagram.png" alt="Instagram Logo" />
    </li>
  </ul>
</header>

<style>
  #navBar.active {
    display: flex;
  }
</style>

<script>
  const navBarTrigger = document.querySelector("#navBarTrigger");
  const navBar = document.querySelector("#navBar");

  navBarTrigger?.addEventListener("click", () => {
    navBar?.classList.toggle("active");
  });
</script>
