---
import Play from "./icons/Play.astro";

const {position} = Astro.props;
---

<div class=`py-4 px-9 bg-black flex gap-4 rounded-2xl w-max self-end mt-auto`>
  <span class="text-white text-[14px]">View recipes</span><Play />
</div>